<form action="/tambah" method="post">
  <div class="mb-3">
    <label for="title_books" class="form-label">Nama Buku</label>
    <input type="text" class="form-control" id="title_books" name="title_books" required />
  </div>
  <div class="mb-3">
    <label for="writer" class="form-label">Penulis</label>
    <input type="text" class="form-control" id="writer" name="writer" required />
  </div>
  <div class="mb-3">
    <label for="year_publish" class="form-label">Tahun Terbit</label>
    <input type="text" class="form-control" id="year_publish" name="year_publish" required />
  </div>
  <div class="mb-3">
    <label for="user_id" class="form-label">User id</label>
    <input type="text" class="form-control" id="user_id" name="user_id" required />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
